<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.dao.AdminInfoDao">
    <resultMap id="adminInfoResultMap" type="com.nf.entity.AdminInfo">
        <id property="id" column="id"/>
        <result property="userName" column="admin_username"/>
        <result property="passWord" column="admin_password"/>
    </resultMap>
    
    <select id="getByUserName" resultMap="adminInfoResultMap">
        select id, admin_username, admin_password from admin_info
        where admin_username = #{userName}
    </select>

    <select id="getAll" resultMap="adminInfoResultMap">
        select id, admin_username, admin_password from admininfo
        order by id
    </select>

    <delete id="deleteAdminById">
        delete from admin_info
        where id = #{id}
    </delete>


</mapper>